.DS_STORE
.gradle
/build/
/log/
!gradle/wrapper/gradle-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.dat
.class
.log
.ctxt
.jar
.war
.zip
.tar.gz
.rar

.idea
*.iws
*.iml
*.ipr
/out/
